.union {
  padding-top: 81px;
  width: 100%;
  background-image: url('./../../image/Union.svg');
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

@media (max-width: 660px) {
  .union {
    background-image: url('./../../image/UnionMobile.svg');
    margin-top: 50px;
  }
}

.main-container {
  width: 100%;
  position: relative;
}
