.union {
  padding-top: 81px;
  width: 100%;
  background-image: url('./../../image/Union.svg');
  background-size: 100vw;
  background-position: center top;
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-around;
}

.main-container {
  width: 100%;
}
