.card {
  width: 160px;
  height: 221px;
  border: 1px 0px 0px 0px;
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.card-name {
  width: 153px;
  height: 14px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.06px;
  text-align: left;
  margin: 0;
}

.card-info {
  width: 90px;
  height: 14px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.05px;
  text-align: center;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
  padding-left: 18px;
}

.card-price {
  width: 54px;
  height: 9px;
  font-size: 12px;
  font-weight: 700;
  line-height: 15.05px;
  text-align: left;
  margin: 0;
}

.card-image {
  border-radius: 20px;
}
