.footer {
  width: 100%;
}

.footer-container {
  margin: 0 5%;
  margin-top: 132px;
  background-color: #0c0c0d;
  display: flex;
  gap: 15px;
  padding: 20px 25px;
  border-radius: 120px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.08px;
  text-align: left;
  color: white;
  justify-content: space-between;
  align-items: center;
}

.confirm-button {
  cursor: pointer;
  position: relative;
  width: 247px;
  height: 62px;
  font-family: 'Orbitron', sans-serif;
  color: white;
  background: #686ffb;
  border: 0;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 25.08px;
  text-align: center;
  white-space: nowrap;
}

.queued {
  position: relative;
  text-align: center;
  white-space: nowrap;
}

.total {
  display: block;
  background-image: url('./../../image/iconCripto.svg');
  background-position: right;
  background-repeat: no-repeat;
  padding-right: 36px;
  text-align: center;
  white-space: nowrap;
}

.rectangle {
  background-color: white;
  height: 2px;
  width: 11%;
  margin: auto;
  opacity: 0.3;
}

@media (max-width: 950px) {
  .footer-container {
    font-size: 18px;
  }

  .confirm-button {
    font-size: 18px;
  }

  .total {
    background-size: 20px;
    padding-right: 30px;
  }
}

@media (max-width: 800px) {
  .footer-container {
    font-size: 15px;
  }

  .confirm-button {
    font-size: 15px;
  }

  .total {
  }
}

@media (max-width: 600px) {
  .footer-container {
    padding: 5px 20px;
    font-size: 12px;
    gap: 10px;
  }

  .confirm-button {
    font-size: 12px;
    height: 26px;
  }

  .total {
    background-size: 12px;
    padding-right: 15px;
    background-position: right 7px;
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  .footer-container {
    padding: 5px 5px;
    font-size: 8px;
    gap: 5px;
  }

  .confirm-button {
    font-size: 8px;
    height: 26px;
  }

  .total {
    background-size: 12px;
    padding-right: 15px;
    background-position: right 7px;
    font-size: 8px;
  }
}
