.card-block {
  position: relative;
  padding: 0 5%;
  width: 50%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  gap: 24px;
  justify-content: flex-start;
  padding-bottom: 16px;
  color: white;
}

.card-item {
  max-width: 160px;
  min-width: 116px;
  width: 13vw;
  padding-bottom: 16px;
}

.block-title {
  position: absolute;
  width: max-content;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.16px;
  text-align: center;
  color: white;
  top: -180px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.block-title-arrow {
  display: none;
  padding-left: 12px;
}

@media (max-width: 440px) {
  .card-item {
    width: 116px;
    padding-bottom: 0px;
  }
}

.second-title {
  display: none;
  font-size: 40px;
  font-weight: 700;
  line-height: 50.16px;
}

@media (max-width: 660px) {
  .card-block {
    width: auto;
  }

  .block-title {
    background-image: url('./../../image/Arrow.svg');
    background-position: center right;
    background-repeat: no-repeat;
    padding-right: 15px;
    cursor: pointer;
    top: -170px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    display: flex;
    align-items: center;
  }

  .block-title-arrow {
    display: block;
    padding-left: 12px;
  }

  .second-title {
    display: none;
    position: absolute;
    cursor: pointer;
    top: -160px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    opacity: 0.5;
  }
}
