.app-container {
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  background-color: #111214;
}

.app-container::before {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  content: '';
  opacity: 0.4;
  background: radial-gradient(circle at center top, #686ffb 150px, rgba(255, 255, 255, 0) 500px),
    radial-gradient(circle at center left, #686ffb 150px, rgba(255, 255, 255, 0) 500px),
    radial-gradient(circle at right bottom, #686ffb 150px, rgba(255, 255, 255, 0) 500px),
    url('./image/BubbleBottom.png') center bottom,
    url('./image/BubbleTopLeft.png') left top no-repeat,
    url('./image/BubbleTopRight.png') right top no-repeat;
  background-repeat: no-repeat;
  background-size: 946, 560px, 946px, 598px 323px, 195px 360px, 332px 180px;
}
